


//      ┏┛┻━━━━┛┻┓
//      ┃　　　　     　┃
//      ┃　   ━  　   ┃
//      ┃ ┳┛  ┗┳   ┃
//      ┃　　　　　　   ┃
//      ┃　　　┻　　   ┃
//      ┃　　　　　　   ┃
//      ┗━┓　 ┏━━━┛
//        ┃　　　┃   神兽保佑
//        ┃　　　┃   代码无BUG！
//        ┃　　　┗━━━━━━━━━┓
//        ┃　　　　　　　           ┣┓
//        ┃　　　　                ┏┛
//        ┗━┓ ┓ ┏━━━┳  ┓ ┏┛
//           ┃  ┫ ┫    ┃  ┫ ┫
//           ┗━┻━┛    ┗━┻━┛
//



#box{/*公共*/
  .person_all{
    display: none;
    //background: blue;
    //width: 1366px;
    height: 768px;
    position: relative;
    .person{/*存放人物的div*/
      z-index: 12;/*设置高于大耳朵的值，实现当鼠标进过人物时，大耳朵失去功能*/
      //border: solid 1px;
      position: absolute;
      //overflow: hidden;
      .halo{/*存放光环的div*/
        width: 85px;
        height: 33px;
        position: absolute;
        background: url("../img/result/jd-85-33.png");
        //background: url("../img/result/ceshi.png");/*测试脚底动画变换*/
        //background-position: -20px -20px;/*测试脚底动画变换*/
      }
      .head {/*存放头顶动画的div*/
        width: 38px;
        height: 35px;
        position: absolute;
        top: 0px;
        background: url("../img/result/head.png");
        background-position: -62px -91px;
      }
      .son > img {/*人物图片*/
        width: 100%;
        z-index: 11;
        position: absolute;
      }
      .son{
        transition: all 500ms;
      }
    }
  }
}/*公共*/


#box { /*单个*/
  .person_all {
    #person_1 { /*第一个*/
      width: 144px;
      height: 149px;
      top: 16%;
      left: 61%;
      .halo {
        bottom: 8px;
        left: 20px;
      }
      .son > img {
        z-index: 11;
        position: absolute;
      }
      .head {
        left: 37px;
      }
    }
    /*第一个*/
    #person_2 { /*第二个*/
      width: 185px;
      height: 197px;
      top: 55%;
      left: 50%;
      .halo {
        bottom: 8px;
        left: 45px;
      }
      .son > img {
        z-index: 11;
        position: absolute;
      }
      .head {
        left: 75px;
      }
    }
    /*第二个*/
    #person_3 { /*第三个*/
      width: 264px;
      height: 197px;
      top: 49%;
      left: 63%;
      .halo {
        bottom: 8px;
        left: 80px;
      }
      .son > img {
        z-index: 11;
        position: absolute;
      }
      .head {
        width: 58px;
        height: 50px;
        background-position: -4px -7px;
        left: 82px;
        top: -5px;
      }
    }
    /*第三个*/
    #person_5 { /*第5个*/
      width: 132px;
      height: 134px;
      top: 12%;
      left: 93%;
      .halo {
        bottom: 8px;
        left: 23px;
      }
      .son > img {
        z-index: 11;
        position: absolute;
      }
      .head {
        width: 42px;
        height: 50px;
        background-position: -99px -56px;
        left: 40px;
        top: -3px;
      }
    }
    /*第5个*/
    #person_6 { /*第6个*/
      width: 142px;
      height: 155px;
      top: 29%;
      left: 97%;
      .halo {
        bottom: 3px;
        left: 36px;
      }
      .son > img {
        z-index: 11;
        position: absolute;
      }
      .head {
        width: 34px;
        height: 50px;
        left: 59px;
      }
    }
    /*第6个*/
    #person_7 { /*第7个*/
      width: 111px;
      height: 119px;
      top: 10%;
      left: 196%;
      .halo {
        bottom: 26px;
        left: 13px;
      }
      .son > img {
        z-index: 11;
        position: absolute;
      }
      .head {
        width: 35px;
        height: 50px;
        top: -4px;
        left: 34px;
      }
    }
    /*第7个*/
    #person_8 { /*第8个*/
      width: 111px;
      height: 119px;
      top: 70%;
      left: 189%;
      .halo {
        bottom: -8px;
        left: 11px;
      }
      .son > img {
        z-index: 11;
        position: absolute;
      }
      .head {
        width: 35px;
        height: 50px;
        top: -7px;
        left: 30px;
      }
    }
    /*第8个*/
    #person_9 { /*第9个*/
      width: 90px;
      height: 125px;
      top: 25%;
      left: 202%;
      .halo {
        bottom: 3px;
        left: 2px;
      }
      .son > img {
        z-index: 11;
        position: absolute;
      }
      .head {
        width: 35px;
        height: 50px;
        top: -10px;
        left: 26px;
      }
    }
    /*第9个*/
    #person_10 { /*第10个*/
      width: 102px;
      height: 144px;
      top: 17%;
      left: 205%;
      .halo {
        bottom: 14px;
        left: 12px;
      }
      .son > img {
        z-index: 11;
        position: absolute;
      }
      .head {
        width: 35px;
        height: 50px;
        top: -3px;
        left: 33px;
      }
    }
    /*第10个*/
    #person_11 { /*第11个*/
      width: 127px;
      height: 184px;
      top: 62%;
      left: 235%;
      .halo {
        bottom: 22px;
        left: 15px;
      }
      .son > img {
        z-index: 11;
        position: absolute;
      }
      .head {
        width: 35px;
        height: 50px;
        top: -3px;
        left: 41px;
      }
    }
    /*第11个*/
    #person_12 { /*第12个*/
      width: 93px;
      height: 122px;
      top: 12%;
      left: 253%;
      .halo {
        bottom: 17px;
        left: 1px;
      }
      .son > img {
        z-index: 11;
        position: absolute;
      }
      .head {
        width: 35px;
        height: 50px;
        top: -3px;
        left: 26px;
      }
    }
    /*第12个*/
    #person_4 { /*第4个*/
      width: 121px;
      height: 138px;
      top: 52%;
      left: 83.5%;
      .halo {
        width: 67px;
        height: 68px;
        background: url("../img/result/bgl.png");
        background-position: 0px 0px;
        bottom: 34px;
        left: 26px;
        z-index: 11;
      }
      .son > img {
        z-index: 11;
        position: absolute;
      }
      .head {
        width: 48px;
        height: 50px;
        background-position: -94px -55px;
        top: -7px;
        left: 33px;
      }
    }
    /*第4个*/
  }
}/*单个 end*/


#box{/*人物名字部分，公共部分*/
  .person_all{
    .name{
      background: url("../img/result/mz.png");
      width: 30px;
      height: 125px;
      position: absolute;
      top: 39px;
      z-index: 12;
      opacity: 0;
      transition: opacity 50ms;
    }
    .in_left{
      .name{
        left: -3px;
      }
    }
    .in_right{
      .name{
        right: -3px;
      }
    }
  }
}/*人物名字部分，公共部分*/

#box{/*人物名字部分，单个部分*/
  .person_all{
    #person_1{
      .name{
        background-position:-100px -300px;
        top: 50px; ;
        left: -20px ;
      }
    }
    #person_2{
      .name{
        background-position:-200px -150px;
        top: 65px; ;
        left: -35px ;
      }
    }
    #person_3{
      .name{
        background-position:0px 0px;
        top: 65px;
        left: -20px ;
      }
    }
    #person_4{
      .name{
        background-position:-50px -0px;
        top: 40px;
        right: -8px;
      }
    }
    #person_5{
      .name{
        background-position:0px -300px;
        top: 25px;
        right: -5px;
      }
    }
    #person_6{
      .name{
        background-position:-50px -300px;
        top: 41px;
        left: -8px;
      }
    }
    #person_7{
      .name{
        background-position:-150px 0px;
        top: 41px;
        left: -8px;
      }
    }
    #person_8{
      .name{
        background-position:-100px 0px;
        left: -18px;
        top: 50px;
      }
    }
    #person_9{
      .name{
        background-position:-200px 0px;
        left: -18px;
        top: 40px;
      }
    }
    #person_10{
      .name{
        background-position:0px -150px;
      }
    }
    #person_11{
      .name{
        background-position:-100px -150px;
        top: 78px;
        left: -8px;
      }
    }
    #person_12{
      .name{
        background-position:-150px -150px;
        top: 45px;
        left: -13px;
      }
    }
  }
}/*人物名字部分，单个部分*/


.shada{/*突出人物遮罩层*/
  position: absolute;
  z-index: 11;
  width: 4750px;
  height: 768px;
  top: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  transition: all 1000ms;
}/*突出人物遮罩层*/

/*************************以下动画部分*****************************/
//guangxiaox 1.5s steps(10) infinite/*测试参数*/
@keyframes halo_ani {/*脚底旋转的动画*/
  0%{
    background-position-y: 1020px;
  }
  100%{
    background-position-y: 0px;
  }
}/*脚底旋转的动画*/
@keyframes halo_ani_4 {/*布告栏动画*/
  0%{
    background-position-y: 0px;
  }
  100%{
    background-position-y: -2010px;
  }
}/*布告栏动画*/
@keyframes head_ani {/*头顶旋转的动画*/
  0%{
    //width: 0px;
    transform: scaleX(0);
  }
  50%{
    //width: 35px;
    transform: scaleX(1);
  }
  100%{
    //width: 0px;
    transform: scaleX(1);
  }
}/*头顶旋转的动画*/
/*添加动画*/
#box{
  .person_all{
    /*测试*/
    .person{/*存放人物的div*/
      .halo{/*存放光环的div*/}
      .head {/*存放头顶动画的div*/}
    }
    /*测试 end*/
    #person_1{
      .halo{/*存放光环的div*/animation: halo_ani 2.3s steps(10) infinite;}
      .head {/*存放头顶动画的div*/animation: head_ani 300ms steps(10) infinite alternate;}
    }
    #person_2{
      .halo{/*存放光环的div*/animation: halo_ani 2s steps(10) infinite;}
      .head {/*存放头顶动画的div*/animation: head_ani 400ms steps(10) infinite alternate;}
    }
    #person_3{
      .halo{/*存放光环的div*/animation: halo_ani 1.9s steps(10) infinite;}
      .head {/*存放头顶动画的div*/animation: head_ani 450ms steps(10) infinite alternate;}
    }
    #person_5{
      .halo{/*存放光环的div*/animation: halo_ani 2.4s steps(10) infinite;}
      .head {/*存放头顶动画的div*/animation: head_ani 420ms steps(10) infinite alternate;}
    }
    #person_6{
      .halo{/*存放光环的div*/animation: halo_ani 2.6s steps(10) infinite;}
      .head {/*存放头顶动画的div*/animation: head_ani 430ms steps(10) infinite alternate;}
    }
    #person_7{
      .halo{/*存放光环的div*/animation: halo_ani 1.9s steps(10) infinite;}
      .head {/*存放头顶动画的div*/animation: head_ani 440ms steps(10) infinite alternate;}
    }
    #person_8{
      .halo{/*存放光环的div*/animation: halo_ani 2.1s steps(10) infinite;}
      .head {/*存放头顶动画的div*/animation: head_ani 400ms steps(10) infinite alternate;}
    }
    #person_9{
      .halo{/*存放光环的div*/animation: halo_ani 1.7s steps(10) infinite;}
      .head {/*存放头顶动画的div*/animation: head_ani 390ms steps(10) infinite alternate;}
    }
    #person_10{
      .halo{/*存放光环的div*/animation: halo_ani 2s steps(10) infinite;}
      .head {/*存放头顶动画的div*/animation: head_ani 380ms steps(10) infinite alternate;}
    }
    #person_11{
      .halo{/*存放光环的div*/animation: halo_ani 1.8s steps(10) infinite;}
      .head {/*存放头顶动画的div*/animation: head_ani 430ms steps(10) infinite alternate;}
    }
    #person_12{
      .halo{/*存放光环的div*/animation: halo_ani 1.6s steps(10) infinite;}
      .head {/*存放头顶动画的div*/animation: head_ani 420ms steps(10) infinite alternate;}
    }
    #person_4{//guangxiaoz 3s steps(30) infinite
      .halo{/*存放光环的div*/animation: halo_ani_4 5s steps(30) infinite;}
      .head {/*存放头顶动画的div*/animation: head_ani 420ms steps(10) infinite alternate;}
    }
  }
}/*动画部分*/
/*************************动画部分 end*****************************/

/*logo与视屏*/
#box{
  .logo{
    width: 260px;
    height: 150px;
    background: url("../img/zs-bj.png");
    position: fixed;
    z-index: 13;
    top: 255px;
    left: 270px;
    display: none;
    #logo{
      position: absolute;
      top: -175px;
      left: -70px;
    }
    #zs{
      width: 89%;
      position: absolute;
      left: 16px;
      top: 11px;
    }
    .a{
      display: block;
      width: 89%;
      height: 130px;
      position: absolute;
      z-index: 14;
      left: 16px;
      top: 11px;
      background: rgba(0,0,0,0.5);
      text-align: center;
      line-height: 130px;
    }
    .a:hover{
      background: rgba(0,0,0,0);
    }

    #music{
      display: block;
      width: 28px;
      height: 28px;
      background: blue;
      position: absolute;
      z-index: 14;
      top: -30px;
      right: 22px;
      background: url("../img/music.png");
      background-position-x: 0px;
      background-position-y: 0px;
    }
  }
}
@keyframes music_move {
  0%{
    background-position-y:0px;
  }
  100%{
    background-position-y:120px;
  }
}
//animation: halo_ani 1.9s steps(10) infinite;
#music{animation:music_move 1s steps(4) infinite}
/*logo与视屏 end*/
